a{
  text-decoration: none;
  color: white;
  margin:10px;
}
.media{
  float:right;  
 width: 400px;

}




.car{
 
  width:200px;
 
}
 
.nav{
  border-top: 1px solid white;
  margin: 10px;
}



.big{
  width:60%;
  margin: auto;
 
}

.container{
  background-color: gray;
  width: 1165px;
}

.banner{ 
 padding:10px;
}

.section{
  width:100%;
  padding: 10px;
  display: inline-block;
  
  
}
.section h1{
color: cyan;
 border-bottom: 1px solid black;

  
}


.image{
 
  
padding:5px;
  border: 1px solid blanchedalmond;
  }
  
  .containt{
    width: 100%;
    display: inline-block;
 
  }

  .image1{
   float: right;
  
  }


  .image2{
    float: left;
    margin-left: 40px;
    
  }
  .containt img{
    outline: 2px #e9edef solid;
    outline-offset: 10px;
  }

.section1{
  width:60% ;
  float: left;
}
.section2
{
width: 35%;
float: right;
}

.section2 h3
{
color: chocolate;
}
.section2 h4 
{
color: cyan;
}

